            <form action="" class="detail-form">
            </form>
            <script id="entry-details-template" type="text/x-handlebars-template">
                <label>Type</label>
                <input name="type" value="{{ type }}">
                <br>
                <label>Date</label>
                <input name="date" type="date" value="{{ date }}">
                <br>
                <label>Location</label>
                <input name="location" value="{{ location }}">
                <br>
                <label>Witnesses</label>
                <input name="witnesses" type="number" value="{{ witnesses }}">
                <br>
                <label>Name</label>
                <input name="name" value="{{ name }}">
                <br>
            </script>